.gridbox-container {
    background-color: transparent; /* Changed to transparent */
    padding: 0; /* Remove padding */
    border-radius: 0.5rem;
    width: 100%; /* Ensure the container takes full width */
    height: 100%; /* Ensure the container takes full height */
}

.gridbox-title {
    background-color: transparent;
    color: #ffffff; /* Tailwind CSS white */
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.gridbox-grid {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    /*grid-auto-flow: row;*/ /* Remove this line */
    gap: 0.25rem; /* Add gaps between items */
    margin: 0; /* Remove margins */
    /*grid-template-rows: repeat(auto-fill, minmax(0, 2fr)); /* Make row sizes strict */
}

.grid-item {
    background-color: transparent; /* Changed to transparent */
    padding: 0; /* Set padding to 0 to remove gap */
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; /* Include border within element's dimensions */
    flex-shrink: 0; /* Prevent shrinking */
    flex-grow: 0; /* Prevent growing */
    width: 100%; /* Set fixed width */
    height: 100%; /* Set fixed height */
    overflow: hidden; /* Prevent content from overflowing */
}

.grid-item.border {
    border: 1px solid #000000; /* Add border to grid items */
}