.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.input-group label {
    font-weight: bold;
}

.input-description {
    font-size: 0.875rem;
    color: #6b7280; /* Tailwind CSS gray-500 */
}

.hidden-span {
    visibility: hidden;
    white-space: nowrap;
}

.dynamic-width-input {
    width: 100%;
    min-width: 75px; /* Set a minimum width for the input element */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.input-background {
    background-color: transparent;  
}