.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    font-size: 1rem;
}

.input-group.small-font {
    font-size: 0.8rem;
}

.input-group label {
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}