.listbox-item {
    padding: 0.1rem;
}

.listbox-container {
    background-color: transparent; /* Changed to transparent */
    padding: 0; /* Remove padding */
    border-radius: 0.5rem;
    width: 100%; /* Ensure the container takes full width */
    height: 100%; /* Ensure the container takes full height */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}