.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.bg-transparent {
    background-color: transparent;
}

.gap-y-10 {
    gap: 2.5rem; /* 10 * 0.25rem */
}

.grid-flow-row {
    display: grid;
    grid-auto-flow: row;
}

.gap-2 {
    gap: 0.5rem; /* 2 * 0.25rem */
}

.m-2 {
    margin: 0.5rem; /* 2 * 0.25rem */
}

.bg-gray-500 {
    background-color: #6b7280; /* Tailwind CSS gray-500 */
}