.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem; /* Adjust the gap as needed */
}

.items-container {
    /*height: 300px; /* Example fixed height */
    overflow-y: auto;
    gap: 1rem; /* Adjust the gap as needed */
}

.point-item {
    display: flex;
    align-items: left;
    gap: 0.1rem; /* Reduce gap between items */
    margin-bottom: 0.1rem; /* Reduce space between rows */
}

.point-item .selected-tab {
    background-color: red;
    
    color: black;
    border: none;
    padding: 0.2rem 0.5rem; /* Reduce padding to make the button smaller */
    cursor: pointer;
}

.point-item .selected-tab:hover {
    background-color: darkred;
}

.buttons-continer {
    display: flex;
    align-items: center; /* Prevent stretching */
}

.selected-tab {
    height: 40px; /* Set a fixed height */
    color: black;
}